language: common-lisp
sudo: required

branches:
  only:
  - master

install:
  - curl -L https://raw.githubusercontent.com/roswell/roswell/release/scripts/install-for-ci.sh | sh
  - ros install ./src/lbge.asd
  - ros install ./a/unit-tests/lbge-unit-tests.asd

env:
  global:
    - LISP=sbcl
  matrix:

addons:
  homebrew:
    update: true
    packages:
      - sdl2
  apt:
    update: true
    packages: libsdl2-2.0-0

osx_image: xcode11.2
os:
  - osx
  - linux

script:
  - ros -s lbge-unit-tests -e '(lbge-unit-tests:run-on-travis-agent)'
  - ros -s lbge-render-test -e '(quit)' # check that it compiles

cache:
  directories:
    - $HOME/.roswell
    - $HOME/.config/common-lisp
